
/* 
STRETCH GOALS
-Personalize hometown
-Use different color pallette
-Google font
-use hover
-add new section

*/

body {
    margin: 0;
    text-align: center;
    font-family: Lato;
}

img {
    width: 100px;
}

/* HERO SECTION */

.hero-section {
    background-image: url("./images/hartford.jpg");
    background-size: cover;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EFEFD0;

}


h1 {
    font-size: 60px;
    text-shadow: 3px 3px black;
    margin: 0 400px;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    text-align: center;
}



/* ACTIVITIES SECTION */

.activities-section {
    background-color: #FF6B35;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.act-img {
    border-radius: 50%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;  

}

.act-titles {
display: flex;
justify-content: center;


}

.act-container {
    padding: 20px 20px;
   
}